:root {
  --font-1: 'Pacifico', cursive; /* Title */
  --font-2: 'Righteous', cursive;; /* Texte */

  --color-1: #C85048; /* Rouge */
  --color-2: #4B565D; /* Gris */
  --color-3: #ffffff; /* Blanc */
}



body{
    margin:0;
    color: var(--color-2);
}

/*-------------------Header------------------*/


header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 8rem 0rem 8rem;
}

.logo {
    width: 7rem;
}

/*---------------------------------------------- Button------------------*/

.btn{
    border: 2px solid var(--color-2);
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
    font-family: var(--font-2);
    color:var(--color-2);
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--color-1);
    color:var(--color-3);

}

/*---------------------------------------------- Main------------------*/


.contener {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows: minmax(50px, auto);
}



/*---------------------------------------------- Section1------------------*/

.items1 {
  grid-column: 2 / 14;
  grid-row: 1 / 8;
  text-align: center;
  z-index: 1;
}

.profil {
  border-radius: 70px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.items1 h1{
  font-family: var(--font-2);
  font-size: 3.5rem;
  margin: 0;
  color: var(--color-1);
}

.items1 p{
  font-family: var(--font-2);
  font-size: 2rem;
  margin: 0;
}

/*---------------------------------------------- Section2------------------*/

.items2 {
  grid-column: 1 / 15;
  grid-row: 7 / 14;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-2);
  color: var(--color-3);
  z-index: 0;
}


.items2 h2{
  font-family: var(--font-2);
  font-size: 1.5rem;
}

.items2 p{
  font-family: var(--font-2);
  font-size: 1rem;
  margin: 0 auto;
  
}

/*---------------------------------------------- Section3------------------*/

.items3 {
  grid-column: 2 / 14;
  grid-row: 13 / 22;
  display: flex;
  flex-direction: row;
  background-color: var(--color-3);
  border-radius: 5px;
  z-index: 2;
  box-shadow: var(--color-2) 0px 3px 3px 0px;
}


.items3a {
  font-family: var(--font-2);
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  align-self: stretch;
  margin-top: 60px;
  box-shadow: var(--color-2) 0px 1px 1px 0px;
  width: 100%;
}

.items3a i{
  font-size: 2rem;
  color: var(--color-1);
}


/*---------------------------------------------- Section4------------------*/

.items4 {
  grid-column: 1 / 15;
  grid-row: 24 / 30;
  background-color: var(--color-3);
  text-align: center;
  margin: 10px;
}

.items4 h2{
  font-size: 2rem;
  font-family: var(--font-2);
}

.project {
width: 350px;
height: 230px;
margin-bottom: 40px;
border-radius: 20px;
}

.items4a {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  
  
}

.items4 p{
  font-size: 1rem;
  font-weight: 600;
}

.items4 p a{
  text-decoration: none;
  color: var(--color-2);
  }

.items4 p a:hover{
text-decoration: none;
color: var(--color-1);
}


/*---------------------------------------------- Section5------------------*/

.items5 {
  grid-column: 3 / 13;
  grid-row: 32 / 38;
  background-color: var(--color-3);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.items5 h2{
  font-size: 2rem;
  font-family: var(--font-2);
  margin-bottom: 50px;
}

.stack {
width: 150px;
height: 150px;
border-radius: 20px;
}

.stackbis {
  width: 130px;
  height: 140px;
  border-radius: 20px;
  }

.items5a {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}








/*---------------------------------------------- Section5------------------*/

