:root {
  --font-1: 'Pacifico', cursive; /* Title */
  --font-2: 'Righteous', cursive;; /* Texte */
  --font-3: 'Handlee', cursive; /* Handwrite */

  --color-1: #7209b7;/* Bleu foncé */
  --color-2: #1d3557; /* bleu clair */
  --color-3: #ffffff; /* Blanc */
  --color-4: #480ca8;

}



body{
    margin:0;
    color: var(--color-2);
}

/*-------------------Header------------------*/


header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 8rem 0rem 8rem;
}

.logo {
    width: 7rem;
}

/*---------------------------------------------- Button------------------*/

.btn{
    border: 2px solid var(--color-1);
    background-color: transparent;
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    font-family: var(--font-2);
    color:var(--color-4);
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--color-1);
    color:var(--color-3);
    border: 2px solid var(--color-1);
}

/*---------------------------------------------- Main------------------*/


.contener {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows: minmax(50px, auto);
}



/*---------------------------------------------- Section1------------------*/

.items1 {
  grid-column: 2 / 14;
  grid-row: 1 / 8;
  text-align: center;
  z-index: 1;
}

.profil {
  border-radius:40px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.items1 h1{
  font-family: var(--font-2);
  font-size: 3.5rem;
  margin: 0;
  color: var(--color-1);
}

.items1 p{
  font-family: var(--font-2);
  font-size: 2rem;
  margin: 0;

}

/*---------------------------------------------- Section2------------------*/

.items2 {
  grid-column: 1 / 15;
  grid-row: 7 / 14;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-3);
  z-index: 0;
  background-color: var(--color-4);
  align-items: center;
}


.items2 h2{
  font-family: var(--font-2);
  font-size: 2rem;
  width: 70vw;
  font-weight: 300;

}

/*---------------------------------------------- Section3------------------*/

.items3 {
  grid-column: 2 / 14;
  grid-row: 13 / 24;
  display: flex;
  flex-direction: row;
  background-color: var(--color-3);
  border-radius: 5px;
  width: auto;
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.items3a {
  font-family: var(--font-2);
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  box-shadow: var(--color-2) 0px 1px 1px 0px;
  width: 100vw;
}

.items3a i{
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-4);
}

.items3a h3{
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--color-1);
  font-size: 1.4em;
}

.items3a p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-2);
  font-size: 1em;
}


/*---------------------------------------------- Section4------------------*/


.items4 {
  grid-column: 1 / 15;
  grid-row: 26 / 32;
  background-color: var(--color-3);
  text-align: center;
  align-content: center;
}

.items4title h2{
  font-size: 2rem;
  font-family: var(--font-2);
  color: var(--color-4)
}

.items4aContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 600px;
  width: auto;
}

.items4title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project{
  border-radius: 20px;
  width: 350px;
  height: 230px;
}

.items4a {
  position: relative;  
}

.items4a:hover .card {
  transform: rotateY(180deg);
}
.card {
  width: 350px;
  height: 230px;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  border-radius: 20px;

  
}

.card-front {
  width: 350px;
  height: 230px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-front img{
  width: 350px;
  height: 230px;
}

.card-back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  width: 350px;
  height: 230px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardbutton {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items4title p{
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 50px;
  color: var(--color-1);
  font-family: var(--font-2);
  width: 70vw;
  }

/*---------------------------------------------- Line------------------*/

.line{
border-bottom:1px solid var(--color-4);
grid-column: 1 / 15;
grid-row: 32 / 32;
}

/*---------------------------------------------- Section5------------------*/


.titleItems5 {
  grid-column: 1 / 15;
  grid-row: 35 / 35;
  text-align: center;
}

.items5 {
  grid-column: 4 / 12;
  grid-row: 36 / 44;
  display: flex;

}
.titleItems5 h2{
  font-size: 2rem;
  font-family: var(--font-2);
  color: var(--color-4)
}

.stack {
width: 150px;
height: 150px;
border-radius: 20px;
margin: 20px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
padding: 10px;
}


.items5a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/*---------------------------------------------- Section6------------------*/

.items6 {
  grid-column: 1 / 15;
  grid-row: 47 / 56;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-4);
  color: var(--color-3);
  line-height: 1.8rem;
  align-items: center;
}


.items6 h2{
  font-family: var(--font-2);
  font-size: 2rem;
  
}

.items6 p{
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding-bottom: 50px;
  width: 70vw;
  
}


/*---------------------------------------------- Section7------------------*/

.items7 {
  grid-column: 2 / 14;
  grid-row: 54 / 60;
  background-color: transparent;
  text-align: center;
  margin: 0;
}


.figma {
width: 350px;
height: 230px;
margin-bottom: 40px;
border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.figma:is(:hover, :focus) {
  transition-duration: 500ms;
  transform: scale(1.1);
}

.items7a {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  
}

/*---------------------------------------------- Section8------------------*/

.items8 {
  grid-column: 2 / 14;
  grid-row: 59 / 66;
  background-color: transparent;
  text-align: center;
}


.iframe {
border-radius : 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.items8a {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  
}

/*---------------------------------------------- Section9------------------*/

.items9 {
  grid-column: 1 / 15;
  grid-row: 68 / 72;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-2);
  align-items: center;
}


.items9 h2{
  font-family: var(--font-2);
  font-size: 2rem;
  color: var(--color-4)
}

.items9 p{
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding-bottom: 50px;
  
}

/*---------------------------------------------- Line------------------*/

.line1{
  border-bottom:1px solid var(--color-4);
  grid-column: 1 / 15;
  grid-row: 74 / 74;
  }
  
  /*---------------------------------------------- Section10------------------*/
  

  .items10 {
    grid-column: 1 / 15;
    grid-row: 76 / 86;
    text-align: center;
    color: var(--color-2);
    align-items: center;
  }

  .items10 h2{
    font-family: var(--font-2);
    margin-bottom: 50px;
    font-size: 2rem;
    color: var(--color-4)
  }

  .slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 450px;
    overflow: hidden;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background:var(--color-2);
    border-radius: 50px;
    margin: 1em 0.2em 0.2em 1em;
  }
  .menu label:hover {
    background: var(--color-1);}


  .slide-input{
    opacity: 0;
  }

  .slide-img {
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0 0;
    font-family: var(--font-3);
    font-size: 1.2rem;
    

  }

.slide-img span{
  font-weight: 500;
  color: var(--color-1);
  font-family: var(--font-2);
  
}

.slide-img p {
  line-height: 2rem;
  font-weight: 600;

}

  [id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }

  .people {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
    }

   /*---------------------------------------------- Section11------------------*/

.items11 {
  grid-column: 2 / 14;
  grid-row: 88 / 92;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--color-1);
  z-index: 1;
  border-radius: 20px;
  color: var(--color-3);
  align-items: center;
}


.items11 h3{
  font-family: var(--font-2);
  font-size: 2rem;
}

.items11 p{
  font-family: var(--font-2);
  font-size: 1.2rem;
  
}

/*---------------------------------------------- Button------------------*/

.btnfooter{
  border: 2px solid var(--color-3);
  background-color: transparent;
  width: 10rem;
  height: 4rem;
  border-radius: 20px;
  font-family: var(--font-2);
  color:var(--color-3);
  font-size: 1rem;
}

.btnfooter:hover{
  background-color: var(--color-2);
  color:var(--color-3);
  border: 2px solid var(--color-3);


}

/*---------------------------------------------- footer ------------------*/

.footer {
  grid-column: 1 / 15;
  grid-row: 90 / 100;
  display: flex;
  flex-direction: row;
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 0;
  background-color: var(--color-4);
  color: var(--color-3);
  padding-top: 100px;
}


.footeritems {
  font-family: var(--font-2);
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  align-self: stretch;
  margin-top: 60px;
  box-shadow: var(--color-2) 0px 1px 1px 0px;
  width: 100%;
}

.footeritems img {
  border-radius: 30px;
  width: 5rem;
}

.footeritems i{
  font-size: 3rem;
  margin: 20px;
  color: var(--color-3);
}

.footeritems h3{
  margin: 30px;
  color: var(--color-3);
  font-size: 1.6rem;
  font-family: var(--font-3);
}

.footeritems p{
  margin: 20px;
  color: var(--color-3);
  font-size: 1.2rem;
} 

.network{
  display: flex;
  justify-content: center;
}

/*---------------------------------------------- footer ------------------*/

.footerend {
  grid-column: 1 / 15;
  grid-row: 101 / 101;
  color: var(--color-3);
  font-family: var(--font-3);
  text-align: center;
}


/*---------------------------------------------- Responsive Tablette ------------------*/

@media (max-width: 900px) {
  .items4 {
    grid-column: 1 / 15;
    grid-row: 26 / 38;
    background-color: var(--color-3);
    text-align: center;
  }

  .items4 h2{
    font-size: 2rem;
    font-family: var(--font-2);
    color: var(--color-4)
  }
  
  .items4aContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    width: auto;
  }
  
  .project{
    width: 250px;
    height: 170px;
  }
  .card {
    width: 250px;
    height: 170px;
  }
  
  .card-front {
    width: 250px;
    height: 170px;
      }
  
  .card-front img{
    width: 250px;
    height: 170px;
  }
  
  .card-back {
    width: 250px;
    height: 170px;
     }

     .line{
      grid-row: 38 / 38;
      }

      .titleItems5 {
        grid-column: 1 / 15;
        grid-row: 40 / 40;
    
      }
      
      .items5 {
        grid-column: 3 / 13;
        grid-row: 41 / 44;
        display: flex;
      
      }
      .stack {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 10px;
        }
        .items6 {
          grid-column: 1 / 15;
          grid-row: 46 / 53;
        }

        .items7 {
          grid-column: 1 / 15;
          grid-row: 51 / 54;
          margin-top: 120px;
        }
    
        .figma {
        width: 250px;
        height: 170px;
        margin: 5px;
        }

        .items8 {
          grid-column: 2 / 14;
          grid-row: 54 / 56;
          display: none;
        }

        .items9 {
          grid-column: 1 / 15;
          grid-row: 54 / 62;
        }

        
        .line1{
          border-bottom:1px solid var(--color-4);
          grid-column: 1 / 15;
          grid-row: 62 / 62;
          }

          .items10 {
            grid-column: 1 / 15;
            grid-row: 65 / 75;
          }
      
        .slider-container {
          max-width: 350px;
          height: 600px;
        }

        .items11 {
          grid-column: 2 / 14;
          grid-row: 77 / 83;
          flex-direction: column;
        }

        .items11 h3{
         margin: 0 auto;
        }

        .items11 p{
          margin:0;
        }
        .footer {
          grid-column: 1 / 15;
          grid-row: 80 / 90;
          padding-top: 120px;
        }
}



/*---------------------------------------------- Responsive Smartphone ------------------*/

@media (max-width: 500px) {

  header {
    padding: 0rem 1rem 0rem 1rem;
}

  .items1 {
    grid-column: 2 / 14;
    grid-row: 2 / 10;
  }
 
  .items2 {
    grid-column: 1 / 15;
    grid-row: 10 / 18;
  }

  .items2 h2 {
    font-size: 1.5rem;
  }
  .items3 {
    grid-column: 2 / 14;
    grid-row: 17 / 26;
  }

  .items3a {
    margin-top: 30px;
  }
  .items3a i{
    font-size: 2em;
  }
  
  .items3a h3{
    font-size: 1em;
  }
  
  .items3a p{
    font-size: 0.8em;
  }

  .items4 {
    grid-column: 1 / 15;
    grid-row: 28 / 36;
    background-color: var(--color-3);
    text-align: center;
  }

  .items4 h2{
    font-size: 2rem;
    font-family: var(--font-2);
    color: var(--color-4)
  }
  
  .items4aContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    width: auto;
  }
  
  .project{
    width: 175px;
    height: 115px;
  }
  .card {
    width: 175px;
    height: 115px;
  }
  
  .card-front {
    width: 175px;
    height: 115px;
      }
  
  .card-front img{
    width: 175px;
    height: 115px;
  }
  
  .card-back {
    width: 175px;
    height: 115px;
     }


     .line{
      grid-row: 37 / 37;
      }

      .titleItems5 {
        grid-column: 1 / 15;
        grid-row: 39 / 39;
    
      }
      
      .items5 {
        grid-column: 2 / 14;
        grid-row: 41 / 44;
        display: flex;
      
      }
      .stack {
        width: 75px;
        height: 75px;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        }

        .items6 {
          grid-column: 1 / 15;
          grid-row: 46 / 53;
        }

        .items7 {
          grid-column: 1 / 15;
          grid-row: 52 / 54;
          margin-top: 120px;
        }
    
        .figma {
        width: 175px;
        height: 115px;
        margin: 5px;
        }

        .items8 {
          grid-column: 2 / 14;
          grid-row: 54 / 56;
          display: none;
        }

        .items9 {
          grid-column: 1 / 15;
          grid-row: 56 / 62;
        }

        
        .line1{
          grid-column: 1 / 15;
          grid-row: 63 / 63;
          }

          .items10 {
            grid-column: 1 / 15;
            grid-row: 65 / 75;
          }
      
        .slider-container {
          max-width: 350px;
          height: 600px;
        }

        .items11 {
          grid-column: 2 / 14;
          grid-row: 77 / 83;
        }

        .items11 h3{
         margin: 0 auto;
        }

        .items11 p{
          margin:0;
        }
        .footer {
          grid-column: 1 / 15;
          grid-row: 80 / 90;
          padding-top: 120px;
        }
}