:root {
  --font-1: 'Pacifico', cursive; /* Title */
  --font-2: 'Righteous', cursive;; /* Texte */

  --color-1: #C85048; /* Rouge */
  --color-2: #4B565D; /* Gris */
  --color-3: #ffffff; /* Blanc */
}



body{
    margin:0;
    color: var(--color-2);
}

/*-------------------Header------------------*/


header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 8rem 0rem 8rem;
}

.logo {
    width: 7rem;
}

/*---------------------------------------------- Button------------------*/

.btn{
    border: 2px solid var(--color-2);
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
    font-family: var(--font-2);
    color:var(--color-2);
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--color-1);
    color:var(--color-3);

}

/*---------------------------------------------- Main------------------*/


.contener {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows: minmax(50px, auto);
}



/*---------------------------------------------- Section1------------------*/

.items1 {
  grid-column: 2 / 14;
  grid-row: 1 / 8;
  text-align: center;
  z-index: 1;
}

.profil {
  border-radius: 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.items1 h1{
  font-family: var(--font-2);
  font-size: 3.5rem;
  margin: 0;
  color: var(--color-1);
}

.items1 p{
  font-family: var(--font-2);
  font-size: 2rem;
  margin: 0;
}

/*---------------------------------------------- Section2------------------*/

.items2 {
  grid-column: 1 / 15;
  grid-row: 7 / 14;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-2);
  color: var(--color-3);
  z-index: 0;
}


.items2 h2{
  font-family: var(--font-2);
  font-size: 2rem;
}

.items2 p{
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding-bottom: 50px;
  
}

/*---------------------------------------------- Section3------------------*/

.items3 {
  grid-column: 2 / 14;
  grid-row: 13 / 24;
  display: flex;
  flex-direction: row;
  background-color: var(--color-3);
  border-radius: 5px;
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.items3a {
  font-family: var(--font-2);
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  align-self: stretch;
  margin-top: 60px;
  box-shadow: var(--color-2) 0px 1px 1px 0px;
  width: 100%;
}

.items3a i{
  font-size: 3rem;
  margin: 20px;
  color: var(--color-1);
}

.items3a h3{
  margin: 30px;
  color: var(--color-1);
  font-size: 1.6rem;
}

.items3a p{
  margin: 20px;
  color: var(--color-2);
  font-size: 1.2rem;
}


/*---------------------------------------------- Section4------------------*/

.items4 {
  grid-column: 1 / 15;
  grid-row: 28 / 34;
  background-color: var(--color-3);
  text-align: center;
  margin: 10px;
}

.items4 {
  grid-column: 1 / 15;
  grid-row: 26 / 32;
  background-color: var(--color-3);
  text-align: center;
  margin: 10px;
}

.items4 h2{
  font-size: 2rem;
  font-family: var(--font-2);
  padding-bottom: 50px;
}

.project {
width: 350px;
height: 230px;
margin-bottom: 40px;
border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items4a {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  
}

.items4 p{
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.items4 p a{
  text-decoration: none;
  color: var(--color-2);
  }

.items4 p a:hover{
text-decoration: none;
color: var(--color-1);
}

/*---------------------------------------------- Line------------------*/

.line{
border-bottom:1px solid lightgrey;
grid-column: 1 / 15;
grid-row: 34 / 34;
}

/*---------------------------------------------- Section5------------------*/


.titleItems5 {
  grid-column: 1 / 15;
  grid-row: 37 / 37;
  text-align: center;
}

.items5 {
  grid-column: 3 / 13;
  grid-row: 38 / 46;
  display: flex;

}
.titleItems5 h2{
  font-size: 2rem;
  font-family: var(--font-2);
  margin-bottom: 50px;
}

.stack {
width: 175px;
height: 175px;
border-radius: 20px;
margin: 20px;
}


.items5a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/*---------------------------------------------- Section6------------------*/

.items6 {
  grid-column: 1 / 15;
  grid-row: 50 / 58;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-2);
  color: var(--color-3);
}


.items6 h2{
  font-family: var(--font-2);
  font-size: 2rem;
}

.items6 p{
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding-bottom: 50px;
  
}


/*---------------------------------------------- Section7------------------*/

.items7 {
  grid-column: 2 / 14;
  grid-row: 56 / 62;
  background-color: transparent;
  text-align: center;
  margin: 0;
}


.figma {
width: 350px;
height: 230px;
margin-bottom: 40px;
border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items7a {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  
}

/*---------------------------------------------- Section8------------------*/

.items8 {
  grid-column: 2 / 14;
  grid-row: 61 / 68;
  background-color: transparent;
  text-align: center;
}


.iframe {
border-radius : 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items8a {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  
}

/*---------------------------------------------- Section9------------------*/

.items9 {
  grid-column: 1 / 15;
  grid-row: 70 / 76;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-2);
  align-items: center;
}


.items9 h2{
  font-family: var(--font-2);
  font-size: 2rem;
}

.items9 p{
  font-family: var(--font-2);
  font-size: 1.2rem;
  padding-bottom: 50px;
  
}

/*---------------------------------------------- Line------------------*/

.line1{
  border-bottom:1px solid lightgrey;
  grid-column: 1 / 15;
  grid-row: 77 / 77;
  }
  
  /*---------------------------------------------- Section10------------------*/
  
  .items10 {
    grid-column: 1 / 15;
    grid-row: 73 / 80;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-2);
    align-items: center;
  }
  
  
  .items9 h2{
    font-family: var(--font-2);
    font-size: 2rem;
  }
  
  .items9 p{
    font-family: var(--font-2);
    font-size: 1.2rem;
    padding-bottom: 50px;
    
  }
  
  /*---------------------------------------------- Line------------------*/
  


